// Base colors
$color-white: #fff;
$color-black: #000;
$color-canary: #e9c33b;
$color-canary-dark: #c9a321;
$color-canary-light: #d3cbaf;
$color-punch: #e76d6d;
$color-punch-dark: #ba4343;
$color-punch-light: #d0a7a7;
$color-orchid: #8d7deb;
$color-orchid-dark: #6250c7;
$color-orchid-light: #b0acc6;
$color-parakeet: #7cda74;
$color-parakeet-dark: #5da556;
$color-parakeet-light: #a7bba5;
$color-coal: #343434;
$color-grey-light: #e5e5e5;
$color-grey: #b4b4b4;

// App colors
$color-primary: $color-coal;
$color-secondary: $color-grey-light;
$color-text: $color-primary;
$color-text-inverse: $color-white;
$color-text-inverse-dark: $color-grey;
$color-app-bg: $color-white;
$color-skeleton: #ebeef4;
$color-skeleton-dark: #e5e8ee;

// Pair colors
$pair-primary-colors: (
  'lecture': $color-canary,
  'lab': $color-orchid,
  'practice': $color-parakeet,
  'exam': $color-punch,
  'consultation': $color-parakeet,
  'test': $color-parakeet,
  'course-work': $color-parakeet
);

$pair-light-colors: (
  'lecture': $color-canary-light,
  'lab': $color-orchid-light,
  'practice': $color-parakeet-light,
  'exam': $color-punch-light,
  'consultation': $color-parakeet-light,
  'test': $color-parakeet-light,
  'course-work': $color-parakeet-light
);

$pair-dark-colors: (
  'lecture': $color-canary-dark,
  'lab': $color-orchid-dark,
  'practice': $color-parakeet-dark,
  'exam': $color-punch-dark,
  'consultation': $color-parakeet-dark,
  'test': $color-parakeet-dark,
  'course-work': $color-parakeet-dark
);

// Button colors
$color-button-primary: $color-primary;
$color-button-primary-txt: $color-white;

$color-button-secondary-txt: $color-primary;
$color-button-secondary-disabled-txt: $color-secondary;
$color-button-secondary-hover: $color-secondary;
