%skeleton-bg {
  animation-duration: 2.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: $color-skeleton;
  background: linear-gradient(
    to right,
    $color-skeleton 4%,
    $color-skeleton-dark 25%,
    $color-skeleton 36%
  );
  background-attachment: fixed;
  background-size: 100vw 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100vw 0;
  }
  100% {
    background-position: 100vw 0;
  }
}
